NOTION_TOKEN=
NOTION_DATABASE_ID=
OPENWEATHER_API_KEY=
NOTION_TODO_PAGE_ID=
NOTION_SCHOOL_FILES_DATABASE_ID=
GOOGLE_CALENDAR_ICS_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_CALENDAR_ID=
TRELLO_API_KEY=
TRELLO_TOKEN=
TRELLO_BOARD_ID=
TRELLO_LIST_ID=